<% stars = product.stars %>
<% reviews_count = product.reviews_count %>
<div class="ratings">
  <p>
    <%= Spree.t(:average_customer_rating) %>:
    <span title="<%= txt_stars(stars) %>">
      <%= txt_stars(stars) %>
    </span>
  </p>
  <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <span itemprop="ratingValue" content="<%= stars %>"></span>
    <span itemprop="reviewCount" content="<%= reviews_count %>"></span>
  </div>
</div>
